<div class="container">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <h1>Nova Pessoa</h1>
        </div>
        <div class="ui-g-12">
            <label>Nome:</label>
            <input type="text" pInputText required>
        </div>
        <div class="ui-g-9">
            <label>Logradouro:</label>
            <input type="text" pInputText required>
        </div>
        <div class="ui-g-3">
            <label>Número:</label>
            <input type="text" pInputText required>
        </div>
        <div class="ui-g-4">
            <label>Complemento:</label>
            <input type="text" pInputText required>
        </div>
        <div class="ui-g-4">
            <label>Bairro:</label>
            <input type="text" pInputText required>
        </div>
        <div class="ui-g-4">
            <label>CEP:</label>
            <p-inputMask mask="99.999-999"></p-inputMask>
        </div>
        <div class="ui-g-8">
            <label>Cidade:</label>
            <input type="text" pInputText required>
        </div>
        <div class="ui-g-4">
            <label>Estado:</label>
            <p-dropdown [options]="estados" placeholder="Selecione o Estado" autoWidth="false" filter="true" required></p-dropdown>
        </div>
        <div class="ui-g-1">
            <p-button icon="pi pi-save" label="Salvar"></p-button>
        </div>
        <div class="ui-g-1">
            <p-button icon="pi pi-plus-circle" label="Novo"></p-button>
        </div>
        <a href="" class="ui-g-2">Voltar para a pesquisa</a>
    </div>
</div>
